textarea{
    background-color: #4d4d4d;
    color: #ffffff;
    font-family: roboto;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    letter-spacing: 3px;
    outline: none;
    
}
.inputContainer {
    display: flex;
    justify-content: space-around;
    background-color: #383838;
    margin: 20px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{    
    margin: 10px;
    padding: 20px;
    transition: 500ms;
    background: #ff5800;
    border: none;
    border-radius: 5px;
    color: antiquewhite;
    outline: none;
}

button:hover{
    transition: 500ms;
    background: #ff6200;
    cursor: pointer;
}

button:active{
    transition: 500ms;
    background: #ff0000;
}

.span{
    margin: 10px;
    text-align: center;
    font-family: roboto;
    color: white;
    padding: 10px;
    border-radius: 1px;
}

tableBox{
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    
}

table{
    border-collapse: collapse;
    margin: 5px;
}
td{
    border: 1px solid black;
    padding: 5px;
    border-radius: 2px;
    
}


.outputContainer {
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    font-family: roboto;
    text-align: center;
}

.green{
  
    font-size: 120%;
    padding: 25px;
    border-radius: 5px;
    color: whitesmoke;
    background-color: limegreen;
}

.red{
    background-color: #ff1d00;
    font-size: 120%;
    padding: 25px;
    border-radius: 5px;
    color: whitesmoke;
}

.mainContainer{
    margin-top: 6%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


